<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lluqn.chamoaplicao">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EventoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PacienteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DicasInformacoesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MedicamentoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Main2Activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".BroadCast.AlarmReceiver">
            <intent-filter>
                <action android:name="EXECUTE_ALARM" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity android:name=".BroadCast.AlarmeActivity" />
        <activity android:name=".BroadCast.RepetirAlarmeActivity"></activity>
    </application>

</manifest>